@keyframes moveInRight {
  /*use @keyframes to define animation*/
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    opacity: 1;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInLeft {
  /*use @keyframes to define animation*/
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInBottom {
  /*use @keyframes to define animation*/
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  80% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /*use inherit to pass down this property value to children*/
}

html {
  font-size: 62.5%;
  /*here we set the root size in "html", normally root font size is 16px, but change to 10px for easier calculation
      so 16*62.5%=10px. Using % is for user to change size on their own prefrence.
      So after this, 1rem = 10px, this apply to ALL size properties*/
}

body {
  box-sizing: border-box;
  /* allows us to include the padding and border in an element's total width and height.*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header-primary {
  color: #fff;
}
.header-primary--1 {
  display: block;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 2.5rem;
  animation: moveInRight 1s;
  /*
          animation-name: moveInRight;
          animation-duration: 1s;
          */
}
.header-primary--2 {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.8rem;
  animation: moveInLeft 1s;
}

.header-secondary {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.header-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-2 {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-3 {
  margin-bottom: 12rem !important;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0rem;
  margin-top: -15rem;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.795), rgba(40, 180, 133, 0.795)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -20rem;
  height: 120rem;
}

.section-stories {
  padding: 15rem 0;
  height: 120rem;
  position: relative;
}

.section-book {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.795), rgba(40, 180, 133, 0.795));
  padding: 20rem 45rem;
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}

.section__footer {
  background-color: #352f2f;
}

.footer {
  padding: 10rem 0;
}
.footer__logo-box {
  text-align: center;
}
.footer__logo {
  transform: scale(0.5);
  margin: 5rem auto;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20rem;
}
.footer__navigation {
  width: 35%;
  border-top: 1px solid white;
}
.footer__navigation ul {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.footer__navigation ul li {
  list-style: none;
}
.footer__navigation ul li:not(:last-child) {
  margin-right: 5rem;
}
.footer__navigation ul li a:link, .footer__navigation ul li a:visited {
  color: white;
  text-decoration: none;
}
.footer__navigation ul li a:hover, .footer__navigation ul li a:active {
  color: #28b485;
}
.footer__copyright {
  width: 35%;
  color: white;
  padding-top: 5rem;
  border-top: 1px solid white;
}

.logo {
  transform: scale(0.5);
  margin: 5rem auto;
}

.btn {
  /*here we create a sudo element behide the button, absolute position make it behide the button, the box of the sudo element is the button size*/
}
.btn, .btn:link, .btn:visited {
  /*:link represent "link" element that has not been visited*/
  text-transform: uppercase;
  /*here <a> is treated as TEXT*/
  text-decoration: none;
  display: inline-block;
  padding: 1rem 6rem;
  margin-top: 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  /*spesify all animation happened at this element*/
  position: relative;
  border: none;
  cursor: pointer;
}
.btn--animated {
  animation: moveInBottom 0.7s 0.7s;
  /*delay 0.7s to perform animation and the duration is 0.7s*/
  animation-fill-mode: backwards;
  /*set the state to 0% of the animation which is 0 opacity, very tricky!*/
}
.btn:hover {
  transform: translateY(-0.3rem);
  /*minus means goes up*/
  box-shadow: 0 1rem 3rem rgba(7, 7, 7, 0.384);
  /* horizontal, vertical, blur, color*/
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(7, 7, 7, 0.384);
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--white {
  background-color: #fdfdfd;
  color: #777;
}
.btn--white::after {
  background-color: #fffdfd;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
  /*the sudo button will become larger at first, then becomes invisible*/
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #55c57a;
  font-weight: 600;
  margin-top: 3rem;
  transition: all 0.2s;
  padding: 3px;
}
.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px);
}

.composition__photo {
  width: 45%;
  position: absolute;
  border-radius: 3px;
  transition: all 0.3s;
}
.composition__photo--p1 {
  top: 1rem;
}
.composition__photo--p2 {
  top: 8rem;
  right: 7rem;
}
.composition__photo--p3 {
  top: 18rem;
  left: 21rem;
}
.composition__photo:hover {
  transform: scale(1.25) translateY(-0.5rem);
  z-index: 1;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.55);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.5);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 5rem -20rem;
  padding: 5rem;
  width: 15%;
  border-radius: 3px;
  font-size: 1.5rem;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.55);
  transition: transform 0.3s;
}
.feature-box__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.feature-box:hover {
  transform: scale(1.1) translateY(-1.3rem);
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story {
  background-color: rgba(255, 255, 255, 0.6);
  width: 55%;
  margin: 5rem auto;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transform: skewX(-12deg);
}
.story__shape {
  height: 15rem;
  width: 15rem;
  float: left;
  margin-left: 2.5rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-2.5rem) skewX(12deg);
  position: relative;
}
.story__shape-image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  color: white;
  font-weight: 800;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 0%);
  transition: all 0.2s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__shape-image {
  filter: blur(1px) brightness(80%);
  transform: translateX(-4rem) scale(1);
}

.card__container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 16%;
  height: 50rem;
  position: relative;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  background-color: greenyellow;
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #2811fa);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__image {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}
.card__image--2 {
  background-image: linear-gradient(to right bottom, #2998ff, #2811fa), url(../../img/nat-6.jpg);
}
.card__image--3 {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: white;
  position: absolute;
  right: 2rem;
  top: 15rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__detail {
  padding: 3rem;
}
.card__detail ul {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}
.card__detail ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__detail ul li:not(:last-child) {
  border-bottom: 1px solid grey;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #7ed56f;
}
.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7ed56f;
  opacity: 0;
  transition: all 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.795), rgba(40, 180, 133, 0.795)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*this will crop the bottom of the background image*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*to shape the background, from top left to top right to bottom right... */
}
.header__logo-box {
  position: absolute;
  /*parent element must be relative*/
  top: 4rem;
  left: 4rem;
}
.header__logo-box {
  position: absolute;
  /*parent element must be relative*/
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* use top & left to put the left boarder and top boarder to the 50% position. Then offset the box 50% so that the box is at the middle of the screen*/
  /*this method is not mobile first*/
}

.about__container {
  display: flex;
  flex-direction: row;
  height: 60rem;
  justify-content: center;
}

.about__item--1 {
  padding: 8rem;
  margin: 5rem 5rem;
  width: 40%;
}

.about__item--2 {
  padding: 8rem;
  margin: 5rem;
  width: 40%;
  position: relative;
}

.feature__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*# sourceMappingURL=style.css.map */
