.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include respond(tab-land) {
    flex-direction: column;
    padding: 0rem 10rem;
  }
  @include respond(tab-port) {
    //flex-direction: column;
  }
  @include respond(phone) {
  }
}

.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include respond(tab-land) {
    flex-direction: column;
    padding: 0rem 10rem;
  }
}

.footer__container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20rem;

  @include respond(tab-port) {
    flex-direction: column;
    padding: 0rem 3rem;
  }
}
