.section-about {
  background-color: $color-grey-light;
  padding: 30rem 0rem;
  margin-top: -20vh;
  //use minus margin-top to push the background up
  //use 25rem padding top to push the header down

  @include respond(tab-land) {
    padding: 20rem 10rem;
  }

  @include respond(phone) {
    padding: 20rem 3rem;
  }
}

.section-features {
  padding: 20rem 10rem;
  margin-top: -15rem;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.795),
      rgba($color-primary-dark, 0.795)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-land) {
    padding: 35rem 10rem;
  }
}

.section-tours {
  background-color: $color-grey-light;
  padding: 30rem 14rem 15rem 14rem;
  margin-top: -10rem;

  @include respond(phone) {
    padding: 3rem 0rem 10rem 0rem;
  }
}

.section-stories {
  padding: 15rem 0;
  //height: 120rem;
  position: relative;
}

.section-book {
  background-image: linear-gradient(
    to right,
    rgba($color-primary-light, 0.795),
    rgba($color-primary-dark, 0.795)
  );
  padding: 10rem 0rem;
  text-align: center;
}

.book {
  display: inline-block;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: 100%;
  width: 80%;

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        transparent 50%
      ),
      url(../../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(phone) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 70%,
        transparent 50%
      ),
      url(../../img/nat-10.jpg);
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(phone) {
      width: 80%;
    }
  }
}

//styles for footer
.section__footer {
  background-color: rgb(53, 47, 47);
  background-size: 100%;
}

.footer {
  &__logo-box {
    text-align: center;
    padding: 5rem 0;
  }

  &__logo {
    transform: scale(0.5);
    margin: 5rem auto;
  }

  &__navigation {
    width: 35%;
    border-top: 1px solid white;

    @include respond(tab-port) {
      width: 100%;
      border-top: 1px solid white;
      padding: 0rem 5rem 6rem 5rem;
    }

    ul {
      display: flex;
      justify-content: space-around;
      padding-top: 5rem;

      li {
        list-style: none;
        &:not(:last-child) {
          margin-right: 5rem;
        }

        a {
          &:link,
          &:visited {
            color: white;
            text-decoration: none;
          }

          &:hover,
          &:active {
            color: $color-primary-dark;
          }
        }
      }
    }
  }

  &__copyright {
    width: 35%;
    color: white;
    padding-top: 5rem;
    border-top: 1px solid white;

    @include respond(tab-port) {
      width: 100%;
      border-top: 1px solid white;
      padding-bottom: 5rem;
      padding-left: 7rem;
    }
  }
}

.logo {
  transform: scale(0.5);
  margin: 5rem auto;
}
