.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;
  //use minus margin-top to push the background up
  //use 25rem padding top to push the header down
}

.section-features {
  padding: 20rem 0rem;
  margin-top: -15rem;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.795),
      rgba($color-primary-dark, 0.795)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light;
  padding: 35rem 0;
  margin-top: -20rem;
  height: 120rem;
}

.section-stories {
  padding: 15rem 0;
  height: 120rem;
  position: relative;
}
